<!DOCTYPE HTML>
<html lang="en">

  <!-- Head --------------------------------------------------------------->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tony Fischetti">
    <meta name="keywords" content="FILL ME OUT!">
    <meta name="description" content="FILL ME OUT!">

    <title>
      <%= locals.title ?? "CHANGE DEFAULT TITLE" %>
    </title>

    <!-- CSS ------------------------------------------------------>
    <link rel="stylesheet" href="/styles/reset.less"/>
    <link rel="stylesheet" href="/styles/main.less"/>

    <!-- First javascript imports --------------------------------->
    <script type="module" src="/src/main.ts"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>


  <!-- Body --------------------------------------------------------------->
  <body class="is-preload">

    <!-- Banner ----------------------------------------------------->
    <%- include('partials/banner') %>

    <!-- Header ----------------------------------------------------->
    <%- include('partials/header') %>

    <!-- Mid section ------------------------------------------------>
    <div id="midsection">

      <!-- Port ------------------------------------------------>
      <div id="port">
        <span>port</span>
      </div>

      <!-- Main ------------------------------------------------>
      <div id="main">

        <!-- Main header ------------------------------------>
        <div id="main-header">
          <span>main header</span>
        </div>

        <!-- Main center ------------------------------------>
        <div id="main-center">
          <span>main center</span>

          <% if (mc==="about") { %>
            <%- include('partials/main-content/about') %>
          <% } else if (mc==="photos") { %>
            <%- include('partials/main-content/photos') %>
          <% } else { %>
            <%- include('partials/main-content/home') %>
          <% } %>

        </div>

        <!-- Main footer ------------------------------------>
        <div id="main-footer">
          <span>main footer</span>
        </div>

      </div>

      <!-- Starboard -------------------------------------------->
      <div id="starboard">
        <span>starboard</span>
        <%- include('partials/navbar') %>
      </div>

    </div>

    <!-- Footer ----------------------------------------------------->
    <%- include('partials/footer') %>
  </body>
</html>


